* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EFEFEF;
    color: #222;
}



header {
    text-align: center;
    padding: 3rem 1rem;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    color: #19A7B8;
    font-size: 3rem;
}

header h3 {
    margin-top: 0.5rem;
    font-weight: 400;
}



main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
    align-items: stretch;
}


section {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    flex: 1;
    min-height: 580px;
    display: flex;
    flex-direction: column;
}


.detalhes h2,
.sobre-mim h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.detalhes ul {
    list-style: none;
    margin-bottom: 1.5rem;
}

.detalhes li {
    margin-bottom: 0.8rem;
}

.redes-dark {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}



.sobre-mim p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.btn-contato {
    padding: 0.9rem 1.8rem;
    border: 2px solid #F06449; 
    background: transparent;
    color: #000000; 
    border-radius: 30px; 
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.btn-contato:hover {
    background: #F06449; 
    color: #fff;
}



.card-laranja {
    background-color: #F06449;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    padding-top: 160px;
}

.card-laranja h2,
.card-laranja p {
    color: white;
}

.foto {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: -60px; /* desce um pouco a imagem */
    left: 50%;
    transform: translateX(-50%);
}
.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;

    margin-top: auto; 
    padding-top: 2.5rem; 
}


footer {
    background-color: #3A3A3A;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}



@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    section {
        min-height: auto;
    }
    
    .card-laranja {
    order: 1;
    }

    .sobre-mim {
        order: 2;
    }

    .detalhes {
        order: 3;
    }
}